@charset "UTF-8";
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3A4042;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #8ECCCC;
  display: block;
}

.sidenav a:hover {
  color: #116466;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

span {
  float: left;
}

body {
  background-color: #3A4042;
  font-family: Verdana;
  color: #8ECCCC;
}

h1 {
  font-size: 30px;
  color: #116466;
  padding-top: 25px;
  padding-bottom: 25px;
}

h2 {
  font-size: 25px;
  color: #116466;
  padding-top: 25px;
  padding-bottom: 25px;
}

h4 {
  font-size: 18px;
  color: #116466;
  padding-top: 50px;
  padding-bottom: 15px;
}

h5 {
  font-size: 18px;
  color: #8ECCCC;
  padding: 5px;
}

p {
  font-size: 14px;
  line-height: 2;
  text-align: justify;
}

.container {
  display: grid;
  grid-template-columns: 200px auto 200px;
}

@media only screen and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}
.text-box-1, .text-box-2 {
  padding-bottom: 50px;
}

.content {
  padding: 10px 0 50px 0;
}

/*Alternatively, here’s a Sass @mixin to help with some of the prefixing, which also gives you an idea of what kind of things need to be done */
.cardbox {
  display: flex;
  flex-flow: nowrap;
  text-align: center;
  align-content: center;
  align-items: baseline;
}

.card {
  padding: 4%;
  flex: 1 30%;
  align-items: center;
}

img {
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
  height: auto;
  width: auto;
  justify-self: center;
  text-align: center;
  border: #116466 2px solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

img:hover {
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
  height: auto;
  width: auto;
  justify-self: center;
  text-align: center;
  border: #116466 2px solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: transform 0.5s, filter 0.5s ease-in-out;
  transform: scale(1.1);
}

.button {
  color: #8ECCCC;
  background-color: #3A4042;
  border: 2px solid #8ECCCC;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button:hover {
  color: #8ECCCC;
  background-color: #116466;
  border: #116466 2px solid;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  transform: scale(1.1);
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* add footer*/

/*# sourceMappingURL=about-us.css.map */
