.content h1{
    text-align: center;
    font-size: 64px;
    margin-top: 25px;
}
img{
    display: block;
    margin: auto;
    width: 50%;
}
.textboxarea{
    display: grid;
    grid-template-columns: auto auto auto;
}
.textbox{
    margin: 5px;
    padding: 5px;
}
.textbox2{
    border: 1px solid #8ECCCC;
    margin: 20px;
    padding: 20px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.textbox p{
    float: right;
    border: 1px solid #8ECCCC;
    text-align: right;    
    padding: 10px;
}
.button {
    color: #8ECCCC;
    background-color: #3A4042;
    border: 2px solid #8ECCCC;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    height: 15px;
    width: 100px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
}
.button:hover {
    color: #8ECCCC;
    background-color: #116466;
    border: #116466 2px solid ;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
span{
    position: fixed;
}
.whitespace img{
    width: 200px;
}
@media only screen and (max-width:1024px){
    .blank{
        overflow-x: hidden;
    }
    .textboxarea{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    #usp1{
        grid-row: 1;
    }
    #usp1text{
        grid-row: 2;
    }
    #usp2{
        grid-row: 3;
    }
    #usp2text{
        grid-row: 4;
    }
    #usp3{
        grid-row: 5;
    }
    #usp3text{
        grid-row: 6;
    }
    #join{
        grid-row: 7;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}